*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#container{
    position: absolute;
    top: 16%;
    left:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:50%;
    border-radius:3vw;
    width: 30%;
    background-color: #00ffc2;
    border:2px solid black;
}
#container h2{
    text-align: center;
     font-size:40px;
     font-weight: 900;
}
#counter{
    align-items: center;
}

@media (max-width:1024px) {
    #container{
        width:50%;
        height:70%;
    }
}
@media (max-width:600px){
    #container{
        left:5%;
        padding:0px 32px;
        width:90%;
        height:70%;
    }
}
#counter{
    font-weight: 900;
    font-size: 50px;
}
.btn{
    cursor: pointer;
    border-radius: 0.5vw;
    padding:10px 15px;
    font-weight: 800;
    font-size: 16px;
    background-color: rgb(125, 232, 75);
}
.btn:hover{
opacity:0.8;
}
.lower{
    margin:3vw;
}